{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
<div class="container">
    <h1>
        Upload new channels
        <small class="float-right"><a href="{{ path('index_index') }}">Channel overview</a></small>
    </h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.parser) }}

    <div class="row align-items-center">
        <div class="col">
            {{ form_row(form.inputData) }}
        </div>
        <div class="col-1 text-center">
            OR
        </div>
        <div class="col">
            {{ form_row(form.uploadedFile) }}
        </div>
    </div>

    {{ form_rest(form) }}

    <button type="submit" class="btn btn-primary">Upload</button>
    {{ form_end(form) }}
</div>
{% endblock %}
